/* .main-wrapper {} */

.container {
  position: relative;
}

/* ------------header--------------- */

.header {
  display: flex;
  background-image: url("/headerBack.png");
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: 100% 75% !important;
  width: 100%;
  height: 50vw;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*-----------navBar-----------------*/
.nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  background-color: white;
  padding: 15px 5px 15px 100px;
  top: 0;
  width: 65%;
  border-radius: 0px 0px 25px 25px;
  z-index: 2;
}

.logo-nav {
  position: relative;
  text-align: center;
  right: 5%;
}

.logo-nav h4 {
  position: absolute;
  top: 6%;
  right: 42%;
  color: #2e5d6a;
}

.logo-nav img {
  width: 55px;
  height: 42px;
}

.tickets-nav {
  position: relative;
  right: 10%;
  display: flex;
  flex-direction: row;
}

.tickets-nav p {
  text-decoration: none;
  color: #2e5d6a;
  margin-left: 40px;
  display: inline-flex;
}

.tickets-nav img {
  width: 25px;
  margin-left: 2px;
}

.tickets-nav p:last-child {
  margin-right: 220px;
}

.lang img {
  margin-left: 10px;
}

.lang span:first-child {
  margin-left: 10px;
}

.lang span:last-child {
  margin-right: 10px;
}

/*-------service-searches---*/
.search-service {
  padding: 30px 35px 50px 35px;
  width: 65%;
  height: auto;
  margin-top: 280px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tickets {
  display: flex;
  justify-content: space-around;
  /* margin-right: 40px; */
  flex-direction: row;
  border-bottom: 2px solid #e9e9e9;
}

.tickets span {
  margin-left: 20px;
  margin-right: 20px;
}

.search-inputs {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.select-tag-goback,
.select-tag-ages {
  border: none;
  margin-right: 40px;
  margin-top: 10px;
  font-size: 16px;
}

.from-origin,
.to-destination {
  width: 20%;
  height: 50px;
  padding: 0px 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  margin-right: 10px;
}

.change-way-destination {
    margin : 0px 15px 0px 5px ;
}

.trip-date {
  height: 50px;
  padding: 0px 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  margin-right: 10px;
}

.search-inputs button {
  left: 0;
  font-size: 16px;
  font-weight: 600;
  width: 170px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffdf00;
  color: #2e5d6a;
  box-shadow: 0.5px 0.5px 1.5px yellow, 0 0 20px yellow, 0 0 4px yellow;
}

/*----------main-----------*/

/*----------first section-----------*/
.first-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.article {
  flex-flow: column wrap;
  align-items: center;
  justify-items: center;
}

.article:first-child {
  margin-left: 120px;
}

.article:last-child {
  margin-right: 120px;
}

.article h3 {
  text-align: center;
  color: #2e5d6a;
}

.article p {
  width: 220px;
  overflow: hidden;
  text-align: center;
  color: #33b8bf;
}

.article:first-child img {
  width: 85px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article img {
  width: 100px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*----------second section-----------*/
.second-section h2 {
  color: #2e5d6a;
  text-align: center;
  margin-top: 100px;
}

/*----------third section-----------*/
.third-section h2 {
  color: #2e5d6a;
  text-align: center;
  margin-top: 100px;
}

/*----------fancy icons-----------*/

.fancy h2 {
  text-align: center;
  color: #2e5d6a;
  font-size: 30px;
  font-weight: 600;
  margin: 100px 0px 100px;
}

.fancy-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.fancy-img img:nth-child(1) {
  width: 180px;
  height: 175px;
  margin-left: 60px;
}

.fancy-img img:nth-child(2) {
  width: 175px;
  height: 175px;
  margin-left: 60px;
}

.fancy-img img:nth-child(3) {
  width: 174px;
  height: 175px;
  margin-left: 60px;
}

.fancy-img img:nth-child(4) {
  width: 174px;
  height: 175px;
  margin-left: 60px;
}

.fancy-img img:nth-child(5) {
  width: 174px;
  height: 175px;
  margin-left: 60px;
}

.fancy-img img:nth-child(6) {
  width: 183px;
  height: 175px;
}
